* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: initial;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.buscador-container {
    margin-top: 10px;
    margin-left: 30px;
}


.carrito {
    margin-top: 10px;
    margin-right: 30px;
    font-size: 30px;
    color: rgb(102, 117, 98);
}


h2 {
    font-family: 'Dancing Script';
}


h1 {
    background: rgba(222, 234, 234, 0.80);
    color: rgb(102, 117, 98);
}

.logo {
    width: 30%px;
    text-align: center;
}

.main p {
    background: #fff;
    font-size: 20px;
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.indice {
    display: flex;
    width: 60vh;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto 0 20px 0;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 1px 2px #000;
    filter: brightness(95%);
    border-radius: 1em;
}

.indice::after {
    background-image: rgba(0, 0, 0, 0.8);
}

a:any-link {
    color: #fff;
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 5px;
    justify-content: space-around;
    font-size: 40px;

}

.footer__icon a {
    color: rgb(102, 117, 98);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;

}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.modal__container {
    background: #fff;
    width: 30%;
    max-width: 600px;
    min-width: 300px;
    max-height: 600px;
    margin: auto;
    border-radius: 6px;
    padding: 20px;
}

.modal__close__button, .modal__buy {
    width: 120px;
    height: 25px;
    border-radius: 6px;
    background: blanchedalmond;
    color: #000;
    padding-top: 10px;
    font-size: 15px;
    transition: background .3s;
}

.modal__close__button:hover, .modal__buy:hover {
    background: rgb(227, 174, 53);
}
.modal__close:any-link {
    color: #000;

}

a:any-link {
    text-decoration: none;
    color: #000;
}

.modal__buttons {
    display: flex;
    justify-content: space-around;
    border-color: none ;
}

textarea {
    width: 100%;
    resize: none;
}
.modal__buy {
    border-width: 0;
    min-height: 35px;
    padding-bottom: 5px;
}

section {
    padding-top: 70px;
}

table {
    margin-left: auto;
    margin-right: auto;
}